:root{
    box-sizing: border-box;

}

html, body, *{
    margin: 0;
    padding: 0;
}

#app{
    height: 100vh;
}

.summary {
    margin: 0 auto;
    border: 3px solid blanchedalmond;
    width: 400px;
    height: 400px;

}

.title{
    text-align: center;
}

.games{
    display: flex;
    justify-content: center;
    align-items: center;
}

.option{
    width: 25%;
    margin: 10px 15px;
    padding: 25px;
    text-align: center;
    font-size: 40px;
    background-color: bisque;
    border-radius: 8px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.option:hover{
    cursor: pointer;
    background-color: burlywood;
    transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
    transform: scale(105%)
}